{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Add CV</title>
    <link rel="stylesheet" href="{% static 'cv_jd_scanner/css/db.css' %}" >
</head>
<body>
    <div class="container">
        <h1>Add CV</h1>
        <form method="post" action="{% url 'add_cv' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="cv_file" accept=".pdf, .txt" required>
            <button type="submit">Upload CV</button>
        </form>
    </div>
</body>
</html>