{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'cv_jd_scanner/css/db.css' %}" >
</head>
<body>
    <div class="container">
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Surname</th>
				<th>Summary</th>
				<th>Skills</th>
				<th>Contacts</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Candidate 1</td>
				<td>Candidate 2</td>
				<td>Candidate 3</td>
				<td>Candidate 4</td>
				<td>Candidate 5</td>
			</tr>
			<tr>
				<td>Candidate 1</td>
				<td>Candidate 2</td>
				<td>Candidate 3</td>
				<td>Candidate 4</td>
				<td>Candidate 5</td>
			</tr>
			<tr>
				<td>Candidate 1</td>
				<td>Candidate 2</td>
				<td>Candidate 3</td>
				<td>Candidate 4</td>
				<td>Candidate 5</td>
			</tr>
			<tr>
				<td>Candidate 1</td>
				<td>Candidate 2</td>
				<td>Candidate 3</td>
				<td>Candidate 4</td>
				<td>Candidate 5</td>
			</tr>
			<tr>
				<td>Candidate 1</td>
				<td>Candidate 2</td>
				<td>Candidate 3</td>
				<td>Candidate 4</td>
				<td>Candidate 5</td>
			</tr>
		</tbody>
	    </table>
    </div>
</body>
</html>