{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>main page</title>
    <link rel="stylesheet" href="{% static 'cv_jd_scanner/css/style1.css' %}" >
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Roboto&display=swap" rel="stylesheet" />
</head>

<body>
    <a href="{% url 'admin:login' %}">Login to Admin</a>
    <div class="logo">
      <img class="main-logo" src="{% static 'cv_jd_scanner/images/logo.png'%}" alt="logo">
      <button class="statistics" onclick="scrollToSection('Statistics')">
        <strong>Statistics</strong>
      </button>
      <button class="locations" onclick="scrollToSection('global-locations')">
        <strong>Global Locations</strong>
      </button>
      <button class="our_team" onclick="scrollToSection('team')">
        <strong>Our Team</strong>
      </button>
      <button class="contacts" onclick="scrollToSection('Footer')">
        <strong>Contacts</strong>
      </button>
    </div>

    <div class="header" style="background-image: url('{% static 'cv_jd_scanner/images/eqwi1.png' %}')"></div>
    <h1 class="header-wrapper" id="Statistics">Our Statistics</h1>
    <div class="wrapper">
      <div class="container">
        <span class="num" data-val="35">000</span>
        <span class="text">Current clients</span>
      </div>

      <div class="container">
        <span class="num" data-val="100">000</span>
        <span class="text">Clients in a past</span>
      </div>

      <div class="container">
        <span class="num" data-val="5">000</span>
        <span class="text">Years on a market</span>
      </div>
    </div>

    <h1 class="header-wrapper">Clients our team served in a past</h1>

    <div class="logos">
      <div class="logo_items">
        <img src="{% static 'cv_jd_scanner/images/1.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/1.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/2.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/3.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/4.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/5.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/6.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/7.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/8.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/9.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/10.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/11.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/12.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/13.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/14.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/15.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/16.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/17.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/18.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/19.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/20.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/21.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/22.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/23.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/24.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/25.png' %}" alt="county" />
      </div>
      <div class="logo_items">
        <img src="{% static 'cv_jd_scanner/images/1.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/1.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/2.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/3.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/4.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/5.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/6.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/7.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/8.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/9.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/10.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/11.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/12.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/13.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/14.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/15.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/16.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/17.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/18.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/19.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/20.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/21.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/22.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/23.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/24.png' %}" alt="county" />
        <img src="{% static 'cv_jd_scanner/images/25.png' %}" alt="county" />
      </div>
    </div>

    <h1 class="header-wrapper" id="global-locations">Global Locations</h1>
    <div class="global-locations">
      <p class="bottom-wrapper-new">
        With our global coverage of the most important sources of IT talent in
        Europe, The Americas and Asia. EQWI OFFERS ACCESS TO THE TALENT POOL OF
        2.5+ BILLION PEOPLE
      </p>
      <div class="container">
        <div class="items">
          <div class="entry">
            <p class="name">UKRAINE</p>
            <img src="{% static 'cv_jd_scanner/images/ukraine-1@2x.png' %}" alt="Ukraine Image" />
            <p class="quote">
              45 mln population, 2nd largest IT market in Europe Across the
              board tech stack coverage
            </p>
          </div>
          <div class="entry">
            <p class="name">TURKEY</p>
            <img src="{% static "cv_jd_scanner/images/turkey-1@2x.png" %}" alt="Turkey Image" />
            <p class="quote">
              85 mln population 38% of population under 25 y.o. Skilled and
              fast-growing IT talent pool
            </p>
          </div>
          <div class="entry">
            <p class="name">ROMANIA</p>
            <img src="{% static "cv_jd_scanner/images/romania-1@2x.png" %}" alt="Romania Image" />
            <p class="quote">
              20 mln population Small, but highly skilled IT industry +1 hour vs
              EST zone
            </p>
          </div>
          <div class="entry">
            <p class="name">MEXICO</p>
            <img src="{% static "cv_jd_scanner/images/mexico-1@2x.png" %}" alt="Mexico Image" />
            <p class="quote">
              127 mln population Highly skilled & diverse IT industry -1 hour vs
              EST zone
            </p>
          </div>
          <div class="entry">
            <p class="name">BRAZIL</p>
            <img src="{% static "cv_jd_scanner/images/brazil-1@2x.png" %}" alt="Brazil Image" />
            <p class="quote">
              215 mln population 9th largest IT market in the world +1 hour vs
              EST zone
            </p>
          </div>
          <div class="entry">
            <p class="name">CANADA</p>
            <img src="{% static "cv_jd_scanner/images/canada-1@2x.png" %}" alt="Canada Image" />
            <p class="quote">
              38 mln population Large software market in the same time zone as
              the US
            </p>
          </div>
          <div class="entry">
            <p class="name">INDIA</p>
            <img src="{% static "cv_jd_scanner/images/india-1@2x.png" %}" alt="India Image" />
            <p class="quote">
              1.4 bln population The largest & oldest IT market, diverse &
              cost-effective skillset
            </p>
          </div>
          <div class="entry">
            <p class="name">PHILIPPINES</p>
            <img src="{% static "cv_jd_scanner/images/philipinnes-1@2x.png" %}" alt="Philippines Image" />
            <p class="quote">
              15 mln population Large and cost-effective skillset Call-center &
              BPO specialization.
            </p>
          </div>
          
        </div>
        <div class="items">
          <div class="entry">
            <p class="name">UKRAINE</p>
            <img src="{% static 'cv_jd_scanner/images/ukraine-1@2x.png' %}" alt="Ukraine Image" />
            <p class="quote">
              45 mln population, 2nd largest IT market in Europe Across the
              board tech stack coverage
            </p>
          </div>
          <div class="entry">
            <p class="name">TURKEY</p>
            <img src="{% static "cv_jd_scanner/images/turkey-1@2x.png" %}" alt="Turkey Image" />
            <p class="quote">
              85 mln population 38% of population under 25 y.o. Skilled and
              fast-growing IT talent pool
            </p>
          </div>
          <div class="entry">
            <p class="name">ROMANIA</p>
            <img src="{% static "cv_jd_scanner/images/romania-1@2x.png" %}" alt="Romania Image" />
            <p class="quote">
              20 mln population Small, but highly skilled IT industry +1 hour vs
              EST zone
            </p>
          </div>
          <div class="entry">
            <p class="name">MEXICO</p>
            <img src="{% static "cv_jd_scanner/images/mexico-1@2x.png" %}" alt="Mexico Image" />
            <p class="quote">
              127 mln population Highly skilled & diverse IT industry -1 hour vs
              EST zone
            </p>
          </div>
          <div class="entry">
            <p class="name">BRAZIL</p>
            <img src="{% static "cv_jd_scanner/images/brazil-1@2x.png" %}" alt="Brazil Image" />
            <p class="quote">
              215 mln population 9th largest IT market in the world +1 hour vs
              EST zone
            </p>
          </div>
          <div class="entry">
            <p class="name">CANADA</p>
            <img src="{% static "cv_jd_scanner/images/canada-1@2x.png" %}" alt="Canada Image" />
            <p class="quote">
              38 mln population Large software market in the same time zone as
              the US
            </p>
          </div>
          <div class="entry">
            <p class="name">INDIA</p>
            <img src="{% static "cv_jd_scanner/images/india-1@2x.png" %}" alt="India Image" />
            <p class="quote">
              1.4 bln population The largest & oldest IT market, diverse &
              cost-effective skillset
            </p>
          </div>
          <div class="entry">
            <p class="name">PHILIPPINES</p>
            <img src="{% static "cv_jd_scanner/images/philipinnes-1@2x.png" %}" alt="Philippines Image" />
            <p class="quote">
              15 mln population Large and cost-effective skillset Call-center &
              BPO specialization.
            </p>
          </div>
          
        </div>
      </div>

    <div class="team-header" id="team">
      <h1 class="header-wrapper">Our Team</h1>
    </div>

    <div class="team-text">
      <p class="bottom-wrapper-new">
        Meet our Team of pofesssionals, a team of hardworkers and pasionate. Or
        all team members are good in his works.
      </p>
    </div>

    <div class="team-body">
      <div class="team-card">
        <img class="team-member-image" src="{% static "cv_jd_scanner/images/murad.jpeg" %}" alt="=Murad photo" />
        <div class="tm-description">
          <p class="name" style="color: white">Murad Sofizade</p>
          <p class="designation" style="color: white">CEO, Founder</p>
          <a
            class="designation"
            href="https://www.linkedin.com/in/muradsofizade/" target="_blank"
            style="color: white"
            >LinkedIn</a
          >
        </div>
      </div>
      <div class="team-card">
        <img class="team-member-image" src="{% static "cv_jd_scanner/images/Iliashchuk1.jpg" %}" alt="Iliashchuk photo" />
        <div class="tm-description">
          <p class="name" style="color: white">Dmytro Iliashchuk</p>
          <p class="designation" style="color: white">Head of Recruitment</p>
          <a
            class="designation"
            href="https://www.linkedin.com/in/dmytroiliashchuk/" target="_blank"
            style="color: white"
            >LinkedIn</a
          >
        </div>
      </div>
      <div class="team-card">
        <img class="team-member-image" src="{% static "cv_jd_scanner/images/maletska.jpeg" %}" alt="Maletska photo" />
        <div class="tm-description">
          <p class="name" style="color: white">Nataliia Maletska</p>
          <p class="designation" style="color: white">Recruitment Consultant</p>
          <a
            class="designation"
            href="https://www.linkedin.com/in/nataliiamaletska/" target="_blank"
            style="color: white"
            >LinkedIn</a
          >
        </div>
      </div>
      <div class="team-card">
        <img class="team-member-image" src="{% static "cv_jd_scanner/images/Demydenko.jpeg" %}" alt="Demydenko photo" />
        <div class="tm-description">
          <p class="name" style="color: white">Svetlana Demydenko</p>
          <p class="designation" style="color: white">Talent Sourcer</p>
          <a
            class="designation"
            href="https://www.linkedin.com/in/svitlana-demydenko-4233b81a0/" target="_blank"
            style="color: white"
            >LinkedIn</a
          >
        </div>
      </div>
    </div>

    <div class="team-body-new-line">
      <div class="team-card">
        <img class="team-member-image" src="{% static "cv_jd_scanner/images/Bessonov.jpg" %}" alt="Bessonov photo" />
        <div class="tm-description">
          <p class="name" style="color: white">Bogdan Bessonov</p>
          <p class="designation" style="color: white">Talent Sourcer</p>
          <a
            class="designation"
            href="https://www.linkedin.com/in/bogdan-bessonov-90708821b/" target="_blank"
            style="color: white"
            >LinkedIn</a
          >
        </div>
      </div>

      <div class="team-card">
        <img class="team-member-image" src="{% static "cv_jd_scanner/images/Lysenko.jpg" %}" alt="Lysenko photo" />
        <div class="tm-description">
          <p class="name" style="color: white">Ksenia Lysenko</p>
          <p class="designation" style="color: white">Talent Sourcer</p>
          <a
            class="designation"
            href="https://www.linkedin.com/in/ksenia-lysenko-b77779266/" target="_blank"
            style="color: white"
            >LinkedIn</a
          >
        </div>
      </div>
      <div class="team-card">
        <img class="team-member-image" src="{% static "cv_jd_scanner/images/Ryltsev.jpg" %}" alt="Ryltsev photo" />
        <div class="tm-description">
          <p class="name" style="color: white">Roman Ryltsev</p>
          <p class="designation" style="color: white">Project Manager</p> 
          <a
            class="designation"
            href="https://www.linkedin.com/in/romanryltsev/" target="_blank"
            style="color: white"
            >LinkedIn</a
          >
        </div>
      </div>
    </div>



    <div class="contacts-last-bottom" id="Footer">
      <h1 class="header-wrapper">Contacts</h1>
      <p class="bottom-wrapper-new">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, rerum
        vero fuga facere dicta laborum, a dolor unde ab corrupti atque hic
        doloremque. Unde dolores, sit totam magnam necessitatibus incidunt!
      </p>
    </div>
    <div class="footer-distributed" id="Footer">
      <div class="footer-left">
          <h3>EQWI<span>Ventures</span></h3>
          <p class="footer-company-name">EQWI Ventures © 2023</p>
      </div>

      <div class="footer-center">
          <div>
              <p><span>2100 Midnight Pearl Drive</span> Sarasota, FL 34240 USA</p>
          </div>

          <div>
              <p>
                  <a href="mailto:murad@eqwiventures.com">murad@eqwiventures.com</a>
              </p>
          </div>
      </div>

      <div class="footer-right">
          <p class="footer-company-about">
              <span>About the company</span>
              Your trusted provider of top software engineering talent from Europe,
              The Americas and Asia Ukraine, Turkey, Romania, Mexico, Brazil,
              Canada, India, Pakistan, Philippines
          </p>
      </div>
  </div>

    <script src="{% static 'cv_jd_scanner/js/navigation.js' %}"></script>
    <script src="{% static 'cv_jd_scanner/js/counter.js' %}"></script>

</body>

</html>