{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="{% static 'cv_jd_scanner/css/register.css' %}">
  </head>
  <body>
    <div class="login-page">
        <form class="login-form" method="post">
          {% csrf_token %}
          <input type="text" name="username" placeholder="username"/>
          <input type="password" name="password" placeholder="password"/>
          <button type="submit">login</button><p class="messagelogin">Not registered?
            <a href="{% url 'register_view' %}">Create an account</a></p>
        </form>
    </div>
  </body>
</html>
